<div class="body-container container-fluid">
  <h1 class="font-bold text-2xl">Task Manager</h1>
  <div class="header-container">
    <%= render "form", task: @task %>
    <%= notice %>
  </div>
  <div class="index-container container-xl">
    <% @tasks.each do |task| %>
      <div class="task-container d-flex justify-content-between" data-controller = "tasks-completed">
        <%= form_with(model: task, class: "mb-7") do |form| %>
            <%= form.check_box :completed, data: {
                         id: task.id,
                         action: "tasks-completed#toggle"
                       } %>
        <% end %>
        <turbo-frame id="<%= dom_id task %>" class="block">
          <table>
            <tr>
              <th>Title</th>
              <th>Description</th>
            </tr>
            <tr>
              <td><%= task.title %></td>
              <td><%= task.description %></td>
            </tr>
          </table>
          <%= link_to "edit", edit_task_path(task) %>
          <%= link_to "delete", task_path(task), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </turbo-frame>
      </div>
    <% end %>
  </div>
</div>
